@import '../../../styles.scss';

nav {
    background-color: #fafafa;
    position: sticky;
    top: 0;
    z-index: 10;
}

.example-spacer {
    flex: 1 1 auto;
}

a {
    .logo {
     background-color: transparent;
     background-repeat: no-repeat;
     background-size: auto;
     background-position: center center;
     height: 45px;
     margin-left: 20px;
    }
}

span {
    color: #648c67;
}
