<p>
    <mat-toolbar>
        <a href="" aria-label="arfna logo">
            <img class="logo" src="../../../assets/arfna-logo-mob.png">
        </a>
        <span class="example-spacer"></span>
        <button mat-button href="/allergy" color="accent" aria-label="allergy tab">
            <span>Allergy</span>
        </button>
        <button mat-button href="/about" color="accent" aria-label="about arfna tab">
            <span>About ARNAF</span>
        </button>
        <button mat-button href="/contact" color="accent" aria-label="contact tb">
            <span>Contact</span>
        </button>
        <button mat-button href="/donate" color="accent" aria-label="donate tab">
            <span>Donate</span>
        </button>
        <button mat-button href="/login" color="accent" aria-label="login icon">
            <mat-icon class="example-icon">lock</mat-icon>
            <span>Login</span>
        </button>
    </mat-toolbar>
</p>
