<nav mat-tab-nav-bar color="primary" [tabPanel]="tabPanel">
    <a href="" aria-label="arfna logo">
        <img class="logo" src="../../../assets/arfna-logo-mob.png">
    </a>
    <span class="example-spacer"></span>
    <a mat-tab-link (click)="serveLink('/allergy')" [active]="activeLink === '/allergy'" aria-label="allergy tab">
        <span>Allergy</span>
    </a>
    <a mat-tab-link (click)="serveLink('/about')" [active]="activeLink === '/about'" aria-label="about arfna tab">
        <span>About ARFNA</span>
    </a>
    <a mat-tab-link (click)="serveLink('/blog')" [active]="activeLink === '/blog'" aria-label="about blog tab">
        <span>Blog</span>
    </a>
    <a mat-tab-link (click)="serveLink('/contact')" [active]="activeLink === '/contact'" aria-label="contact tab">
        <span>Contact</span>
    </a>
    <a mat-tab-link (click)="serveLink('/apply')" [active]="activeLink === '/apply'" aria-label="scholarship tab">
        <span>Apply For Assistance</span>
    </a>
    <a mat-tab-link (click)="serveLink('/donate')" [active]="activeLink === '/donate'" aria-label="donate tab">
        <span>Donate</span>
    </a>
    <a *ngIf="!userLoggedIn.name" mat-tab-link (click)="serveLink('/login')" [active]="activeLink === '/login'" aria-label="login tab">
        <mat-icon color="accent" class="example-icon">lock</mat-icon>
        <span>Login</span>
    </a>

    <a *ngIf="userLoggedIn.name" mat-tab-link (click)="serveLink('/blog/dashboard')" [active]="activeLink === '/blog/dashboard'" aria-label="dashboard tab">
        <span>Welcome, {{userLoggedIn.name}}!</span>
    </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>