<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">
        <img src="../../../../../assets/arfna-logo-mob.png">
      </mat-card-title>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Sign In">
            <mat-card-content>
              <form [formGroup]="loginForm">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Email"
                    formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="loginForm.controls['email'].hasError"> {{ proccessErrors(loginForm, "email", content) }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    formControlName="password">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="loginForm.controls['password'].hasError"> {{ proccessErrors(loginForm, "password", content) }}
                    </mat-error>
                </mat-form-field>
                <button (click)="login()"
                  mat-raised-button
                  color="primary"
                  class="login-button">
                  Sign In
                </button>
                <mat-progress-bar *ngIf="active" mode="indeterminate"></mat-progress-bar>
              </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Sign Up">
          <mat-card-content>
            <form [formGroup]="signupForm">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Name"
                  formControlName="name">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="signupForm.controls['name'].hasError"> {{ proccessErrors(signupForm, "name", content) }}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="signupForm.controls['email'].hasError"> {{ proccessErrors(signupForm, "email", content) }}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="signupForm.controls['password'].hasError"> {{ proccessErrors(signupForm, "password", content) }}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <input
                  matInput
                  placeholder="Confirm Password"
                  type="password"
                  formControlName="repassword">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="signupForm.controls['repassword'].hasError"> {{ proccessErrors(signupForm, "repassword", content) }}
                </mat-error>
              </mat-form-field>
              <mat-error style="text-align:center;" *ngIf="signupForm.hasError('passwordConfirmation')"> {{ content.get('passMismatch') }}
              </mat-error>
              <button (click)="signup()"
                mat-raised-button
                color="primary"
                class="login-button">
                Sign Up
              </button>
              <mat-progress-bar *ngIf="active" mode="indeterminate"></mat-progress-bar>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>