<div class="section">
    <h1 class="mat-display-1">Section for me to write about what we want to do with nut allergies</h1>
    <mat-divider></mat-divider>
    <h2>Subheader</h2>
    <p class="innerText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Nibh tortor id aliquet lectus proin nibh. Dui faucibus in ornare quam viverra orci sagittis eu
        volutpat. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Auctor neque vitae tempus quam
        pellentesque nec nam. Tellus orci ac auctor augue mauris augue neque gravida in. Vel facilisis volutpat est
        velit egestas dui id ornare. Massa tincidunt dui ut ornare lectus sit. In eu mi bibendum neque egestas congue
        quisque egestas diam. Risus pretium quam vulputate dignissim suspendisse in. Sem fringilla ut morbi tincidunt
        augue interdum velit euismod. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Convallis tellus id
        interdum velit laoreet id donec. Ultricies tristique nulla aliquet enim tortor at auctor urna.</p>

    <h2>Subheader</h2>
    <p class="innerText">Morbi leo urna molestie at elementum eu facilisis. Mattis rhoncus urna neque viverra justo nec ultrices dui. Non
        curabitur gravida arcu ac tortor. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Facilisi etiam
        dignissim diam quis enim lobortis scelerisque fermentum. Fames ac turpis egestas integer eget aliquet nibh
        praesent tristique. Blandit aliquam etiam erat velit scelerisque in dictum non. Facilisi morbi tempus iaculis
        urna id volutpat lacus. At elementum eu facilisis sed odio morbi quis. Ullamcorper velit sed ullamcorper morbi
        tincidunt. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Integer quis auctor elit sed
        vulputate mi sit. Nibh cras pulvinar mattis nunc sed blandit. Egestas maecenas pharetra convallis posuere morbi.
        Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Mollis nunc sed id semper risus. Lectus magna
        fringilla urna porttitor rhoncus dolor purus non enim. Nisi quis eleifend quam adipiscing vitae proin sagittis
        nisl rhoncus. Tincidunt lobortis feugiat vivamus at augue. Vel risus commodo viverra maecenas accumsan lacus
        vel.</p>
</div>
