.Four04 {
    width: 80%;
    height: 85%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url('../../../assets/arfna-favicon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.divider {
    border-bottom: 1px solid #99c5b5;
    color: #99c5b5;
}

.Four04 button {
    text-align: center;
}