<div class="formBackground">
    <h1 class="mat-display-1">Newsletter</h1>
    <mat-card>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary">Done</button>
        <mat-checkbox>Send me ARFNA Newsletters</mat-checkbox>
    </mat-card>
</div>
