.mat-display-3 {
    color: #99c5b5;
    margin: 0;
}

.mat-display-1 {
    font-weight: 300;
    font-style: italic;
}

.container {
    max-width: 70%;
    background-color: #FAFAFA;
    padding: 15px;
    margin: auto;
    height: 100vh;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
    overflow-y: scroll;
}

mat-spinner {
    margin: auto;
}

.background {
    background-image: url('../../../../../assets/peanut-splash.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

mat-icon {
    color: #FAFAFA;
}

button {
    height: 44px;
    width: 44px;
}

.unsetGlobalStyles {
    all: initial;
    all: unset;
    text-align: unset;
}

.post {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 3rem;
}

@media (max-width: 768px) {
    .post {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .mat-display-3 {
        color: #99c5b5;
        margin: 0;
        font-size: 40px;
    }
}