<app-jumbotron [title]="constantMap.get('title')" [subtitle]="constantMap.get('subtitle')"></app-jumbotron>
<app-mosaic-layout [header1]="constantMap.get('header1')" [header2]="constantMap.get('header2')"
    [header3]="constantMap.get('header3')" [header4]="constantMap.get('header4')"
    [body1]="constantMap.get('body1')" [body2]="constantMap.get('body2')"
    [body3]="constantMap.get('body3')" [body4]="constantMap.get('body4')"
    [modal1]="constantMap.get('modal1')" [modal2]="constantMap.get('modal2')"
    [modal3]="constantMap.get('modal3')" [modal4]="constantMap.get('modal4')"></app-mosaic-layout>