.jumbotron {
    color: white;
    padding: 5rem;
    text-align: center;
    background-image: url('../../../../../assets/peanut-splash.jpg');
    background-position: center;
}

span {
    color: white;
}

.divider {
    border-bottom: 1px solid ;
}

@media (max-width: 750px) {
    h1 {
        font-size: 64pt !important;
    }
}