<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Welcome, {{userLoggedIn.name}}</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item (click)="changeState('newPost')">Create a Post</a>
          <a mat-list-item (click)="changeState('drafts')">Drafts</a>
          <a mat-list-item (click)="changeState('myPosts')">My Posts</a>
          <a mat-list-item *ngIf="userLoggedIn.role === 'maint'" (click)="changeState('accept')">Approve</a>
          <a mat-list-item *ngIf="userLoggedIn.role === 'admin'" (click)="changeState('publish')">Approve</a>
          <a mat-list-item >Logout</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div *ngIf="currentState == 'newPost'">
          <app-new-post-form>   
          </app-new-post-form>
        </div>

        <div *ngIf="currentState == 'drafts'">
          <app-blog-page [loadFilter]="'draftPosts'"></app-blog-page>
        </div>

        <div *ngIf="currentState == 'myPosts'">
          <app-blog-page [loadFilter]="'myPosts'"></app-blog-page>
        </div>

        <div *ngIf="currentState == 'accept' &&
          userLoggedIn.role === 'maint'">
          <app-blog-page [loadFilter]="'accept'"></app-blog-page>
        </div>

        <div *ngIf="currentState == 'publish' &&
          userLoggedIn.role === 'admin'">
          <app-blog-page [loadFilter]="'publish'"></app-blog-page>
        </div>
        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>