mat-card {
    margin: 10px;
    text-align: left;
    max-width: 27%;
    float: left;
}

mat-card > *:not(:first-child) {
    margin-top: 10px;
}

mat-icon {
    color: white;
    vertical-align: middle;
}

h2 {
    font-weight: 500;
    color: #99c5b5;
    cursor: pointer;
}

h4 {
    font-weight: 300;
    font-style: italic;
    cursor: pointer;
}

button {
    margin-right: 5px;
}

.sidebar {
    text-align: right;
}

::ng-deep .modal-body {
    width: 50% !important;
    margin: auto !important;
    margin-top: 5rem !important;
}

.post {
    float: left;
}