<div class="formBackground">
    <mat-icon color="primary">mail_outline</mat-icon>
    <h1 class="mat-display-1">Contact Us</h1>
    <mat-card>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Enter your message here!"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
    </mat-card>
</div>
